.suggested.results .feed-outer.comment p {
  color: #888888;
  /*font-family: SFProDisplayThin;*/
}

.suggested.results .feed-outer .profile.out .img {
  background-color: #f1f1f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbbbbb;
  font-size: 22px;
}
