.application {
  font-family: Raleway;
  background-color: #f7f6f6;
  .header-info {
    background-color: #f7f6f6;
  }
  .content-box {
    margin: 0 30px;
    .sidebar {
      z-index: 100;
      min-height: 700px;
      padding: 0 20px;
      background-color: #4ba3b6;
      width: 300px;
      margin-right: 20px;
      float: left;
      .avatar {
        img {
          border-radius: 50%;
          margin: 30px auto;
          max-width: 140px;
        }
      }
      .user-info {
        color: #fff;
        text-transform: uppercase;
        h3 {
          margin: 0 30px 10px;
          border-bottom: 3px solid white;
          padding-bottom: 15px;
        }
        p {
          font-size: 17px;
          margin: 0 10px;
        }
      }
      .triangle {
        width: 25px;
        height: 30px;
        position: absolute;
        z-index: 100;
        display: none;
      }
      .menu {
        margin-top: 30px;
        ul {
          list-style: none;
          padding: 0;
          li {

            position: relative;
            border-top: 2px solid #3e8696;
            &:after {
              content: "";
              background-image: url("/image/arrow-right.svg");
              position: absolute;
              top: 10px;
              right: 40px;
              height: 25px;
              width: 25px;
              background-size: contain;
              background-repeat: no-repeat;
            }
            &:after:hover {
              text-decoration: underline;
            }
            &:last-child {
              border-bottom: 2px solid #3e8696;
            }
            a {
              text-transform: uppercase;
              color: #fff;
              text-decoration: none;
              line-height: 45px;
              display: block;
              font-size: 18px;
              width: 100%;
              padding: 0px 40px;
            }
            a:focus {
              background-color: #378098;
            }
            ul {
              display: none;
              border: 3px solid #4ba3b6;
              border-radius: 10px;
              padding: 50px 20px 114px 20px;
              z-index: 100;
              width: 350px;
              li {
                background-color: #4ba3b6;
                z-index: 1;
                border-top: none;
                border-bottom: 2px solid #3e8696;
                text-decoration: none;
                &:after {
                  content: "";
                  background-image: none;
                  position: absolute;
                  top: 10px;
                  right: 40px;
                  height: 25px;
                  width: 25px;
                  background-size: contain;
                  background-repeat: no-repeat;
                }
                a {
                  text-transform: uppercase;
                  color: #fff;
                  text-decoration: none;
                  line-height: 45px;
                  display: block;
                  font-size: 18px;
                  width: 100%;
                  padding: 0px 40px;
                }
                &:last-child {
                  border-bottom: 2px solid #3e8696;
                }
              }
              li:hover {
                text-decoration: underline;
              }
            }

          }
          //li:hover > ul {display: block;}
          li:hover {
            text-decoration: underline;
            position: relative;
          }
          //li:hover ul{
          //  position: absolute;
          //  top: -100px;
          //  left: 300px;
          //  background-color: #4ba3b6;
          //}
          //li:focus{
          //  background-color:  #378098;
          //}

        }
      }
    }
    .content {
      float: right;
      width: calc(100% - 320px);

      .content-block {
        ::-webkit-scrollbar {
          width: 11px;
          background-color: #f7f6f6;
        }
        ::-webkit-scrollbar-button {
        }
        ::-webkit-scrollbar-track {

        }
        ::-webkit-scrollbar-thumb {
          background-color: #e3e3e3;
        }
        ::-webkit-scrollbar-corner {
        }
        margin-top: 40px;
        overflow: hidden;
        padding: 40px;
        background-color: #fff;
        border-radius: 4px;
        &:first-child {
          margin-top: 0;
        }
        h3 {
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 30px;
        }
        p {
          color: black;
          font-family: Raleway;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 20px;
        }
        .scroll-box {
          height: 350px;
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          border-top: 2px solid #f2f2f2;
          border-bottom: 2px solid #f2f2f2;
          .item-box {

            padding: 10px 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid #f2f2f2;
            &:last-child {
              border-bottom: none;
            }
            .text-section {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              margin-left: 25px;
              margin-top: 10px;
              margin-right: 10px;
              ul {
                list-style: none;
                padding: 0;

                li {
                  &.bold {
                    font-weight: 700;
                  }
                  color: black;
                  font-family: Raleway;
                  font-size: 14px;
                }
                .dashboard-li {
                  color: #4BA3B6;
                }
              }
              //.button-section{
              //  width: 200px;
              //  display:inline-block;
              //
              //}
            }
            .avatar-section {
              width: 150px;
              height: auto;
              margin-right: 10px;
              display: inline-block;
            }

          }
        }

        .progress {
          border-radius: 0;
          background-color: #e3e3e3;
          box-shadow: none;

          .progress-bar {
            text-align: left;
            padding-left: 20px;
            box-shadow: none;
            &.progress-bar-success {
              background-color: #49e3ae;
            }
          }
        }
      }
      .buttons-container {
        text-align: right;
        .btn {
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }

        }
      }
      .text-block {
        color: #d22b2b;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
      }
    }

  }
}

.btn {
  &.btn-primary-outline {
    background-color: white;
    border: 1px solid #4BA3B6;
    border-radius: 6px;
    box-shadow: 1px 1px 1px black;
    padding: 0 50px;
    line-height: 39px;
    color: black;
    display: inline-block;
    transition: background-color 0.5s linear;
  }
  &.btn-primary-outline:hover {
    background-color: #EFEFEF;
  }
  &.btn-primary-outline:active {
    box-shadow: none;
  }
}

.log-oud-application {
  margin-left: 45px;
}

.main-logo-application {
  margin-left: 30px;
  margin-top: 50px;
}

.message {
  z-index: 30;
  position: fixed;

  .overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
  }
  .overlayMenu {
    display: none;
    width: 100vw;
    height: 100vh;
  }

  .message-button {
    position: fixed;
    top: 57px;
    right: 0px;
    img {
      height: 55px;
      width: 55px;
      margin: 12px auto;
      display: block;
    }
  }
  .message-content {
    border-radius: 0 0 0 5px;
    position: fixed;
    top: 70px;
    right: -500px;
    width: 95%;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    p {
      text-align: justify;
    }
    button {
      margin-top: 20px;
    }
    h3 {
      margin-top: 0;
    }
    textarea {
      padding: 20px;
      width: 100%;
      min-height: 300px;
      resize: vertical;
      border-radius: 2px;
      border: 1px solid #6097a4;
      &:focus {
        outline: none;
      }

    }
  }

}
.arrow-section {
  top: 90px;
  position: absolute;
  right: 60px;
  img {
    height: 65px;
    width: 65px;
  }
  p {
    color: #010101;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
  }
}

.text-block-header {
  color: #010101;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
}

.buttons-container-header {
  text-align: right;
  .btn {
    background-color: #4ba3b6;
    color: #f2f2f2;
    border: 1px solid #4BA3B6;
    padding: 2px 30px;
    margin-right: 15px;
    box-shadow: 1px 1px 1px black;
    transition: background-color 0.5s linear;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border: 1px solid #4BA3B6;
      box-shadow: 1px 1px 1px black;
      background-color: #52b1c5;

    }
    &:active {
      box-shadow: none;
    }
  }
}

.content-block-profil {
  margin-top: 40px;
  overflow: hidden;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  &:first-child {
    margin-top: 0;
  }
  h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;

  }
  hr {
    background-color: #4ba3b6;
    height: 2px;
  }
  p {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .form-error-show {
    color: red;
    margin-left: 10px;
    font-size: 14px;
  }

}

.buttons-avatar {
  display: none;
  .save-upload-avatar {
    background-color: #3db757;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 2px 10px 2px 10px;
  }
  .cancel-upload-avatar {
    background-color: #d22b2b;;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin-left: 5px;
    padding: 2px 10px 2px 10px;
  }
}

.application-input {
  width: 100%;
  height: 42px;
  margin: 10px;
  border-radius: 5px;
  padding: 0 15px;
  font-family: Raleway;
  border: 1px solid #4ba3b6;
  color: #1d1d1d;
  &:focus {
    outline: none;
  }
}

.application-select {
  option {
    font-family: Raleway;
    color: #4ba3b6;
    background-color: white;
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("/image/down-arrow.svg") no-repeat;
  background-position: calc(100% - 20px);
  width: 100%;
  height: 42px;
  margin: 10px;
  border-radius: 5px;
  padding: 0 15px;
  font-family: Raleway;
  border: 1px solid #4ba3b6;
  color: #4ba3b6;
  background-color: white;

  &:focus {
    outline: none;
  }

}

.select-dropdown {
  margin-bottom: 50px;
}

.wrap-input-address {
}

.custom-block {
  width: 100%;
  margin: 10px;
}

.addresse-input {
  width: 100%;
  height: 42px;
  border-radius: 5px 5px 0 0;
  padding: 0 15px;
  font-family: Raleway;
  border: 1px solid #4ba3b6;
  color: #1d1d1d;
  &:focus {
    outline: none;
  }
}

.postnr-input {
  border: 1px solid #4ba3b6;
  border-top: none;
  border-radius: 0 0 0 5px;
  color: black;
  border-right: none;
  width: 30%;
  padding: 0 15px;
  height: 42px;
  float: left;
  font-family: Raleway;
  &:focus {
    outline: none;
  }
}

.by-input {
  color: black;
  font-family: Raleway ;
  height: 42px;
  border: 1px solid #4ba3b6;
  border-radius: 0 0 5px 0;
  border-top: none;
  padding: 0 15px;
  width: 70%;
  &:focus {
    outline: none;
  }
}

.profil-button {
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px 65px;
}

.avatar-box {
  margin-top: 10px;
  display: flex;
  max-width: 520px;
  margin-left: 100px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px 10px 15px;
  border: 1px solid #3b7f8e;
  border-radius: 4px;
  .text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .flex-empty {
      visibility: hidden;
    }
  }
  .user_avatar_placeholder {
    max-width: 140px;
    width: 100%;
    margin: auto;
    display: block;
    height: auto;
    border-radius: 50%;
  }
  .action {
    .fileUploadForm {
      display: none;
    }
    #fileUpload {
      cursor: pointer;
    }
    #fileDelete {
      cursor: pointer;
    }
    .upload {
      padding-left: 0px;
    }
    img {
      padding-right: 5px;

    }
    background-color: #f7f6f6;
    margin-top: 43px;
  }
  .text-avatar {
    color: #3b7f8e;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 300;
  }
}

.find-supervisor-container {
  .btn-popup {
    margin-top: 10px;
    margin-left: 20px;
    .btn-primary-outline {
      padding: 0 40px;
    }
  }
  .supervisorType {
    margin-top: 10px;
    margin-left: 10px;
  }

  margin-top: 40px;
  .find-supervisor-btn {
    margin-top: 50px;
  }
  .application-input {
    margin-left: 5%;
    width: 95%;
    background: transparent url("/image/searcher.svg") no-repeat;
    background-position: calc(100% - 20px);
  }
  .text-center {
    margin-top: 0px;
  }
  .row {
    .check-box {
      padding-bottom: 10px;
      padding-top: 10px;
      input[type="checkbox"] {
        width: 23px;
        height: 23px;
      }
      margin-left: 5%;
      width: 95%;
      margin-top: 10px;
      background-color: #f7f6f6;
      border-radius: 5px;
      .customCheckbox {
        float: right;
        padding-top: 0px;
        padding-right: 15px;
      }
      input {
        padding-left: 10px;
      }
    }

    label {
      display: inline;
    }

    .regular-checkbox {
      display: none;
    }
    .check-description {
      padding: 10px;
      width: 132px;
      height: 14px;
      color: #000000;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      margin-left: 10px;
    }

    .regular-checkbox + label {
      background-color: white;
      border: 1px solid #3b7f8e;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 11px;
      border-radius: 3px;
      display: inline-block;
      position: relative;
    }
    .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .regular-checkbox:checked + label {
      background-color: white;
      border: 1px solid #3b7f8e;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
      color: white;
    }

    .regular-checkbox:checked + label:after {
      content: '\2714';
      font-size: 14px;
      position: absolute;
      top: 0px;
      left: 5px;
      color: #3b7f8e;
    }
  }
}

.content-block-result {
  ::-webkit-scrollbar {
    width: 11px;
    background-color: #f7f6f6;
  }
  ::-webkit-scrollbar-button {
  }
  ::-webkit-scrollbar-track {

  }
  ::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
  }
  ::-webkit-scrollbar-corner {
  }
  margin-top: 40px;
  overflow: hidden;
  padding: 0px;
  padding-top: 50px;
  background-color: #fff;
  border-radius: 4px;
  &:first-child {
    margin-top: 0;
  }
  h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }
  p {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .scroll-box {
    height: 350px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    .item-box {

      padding: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid #f2f2f2;
      &:last-child {
        border-bottom: none;
      }
      .text-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-left: 25px;
        margin-top: 10px;
        margin-right: 10px;
        ul {
          list-style: none;
          padding: 0;

          li {
            &.bold {
              font-weight: 700;
            }
            color: black;
            font-family: Raleway;
            font-size: 14px;
          }
          .dashboard-li {
            color: #4BA3B6;
          }
        }
        //.button-section{
        //  width: 200px;
        //  display:inline-block;
        //
        //}
      }
      .avatar-section {
        width: 150px;
        height: auto;
        margin-right: 10px;
        display: inline-block;
      }

    }
  }

  .progress {
    border-radius: 0;
    background-color: #e3e3e3;
    box-shadow: none;

    .progress-bar {
      text-align: left;
      padding-left: 20px;
      box-shadow: none;
      &.progress-bar-success {
        background-color: #49e3ae;
      }
    }
  }
}

.check-box-register-supervisor {
  .check-box {
    padding-bottom: 10px;
    padding-top: 10px;
    input[type="checkbox"] {
      width: 23px;
      height: 23px;
    }
    margin-top: 10px;
    margin-left: 10px;
    background-color: #f7f6f6;
    border-radius: 5px;
    .customCheckbox {
      float: left;
      padding-top: 0px;
      padding-right: 15px;
      margin-left: 10px;
    }
    input {
      padding-left: 10px;
    }
  }

  label {
    display: inline;
  }

  .regular-checkbox {
    display: none;
  }
  .check-description {
    padding: 10px;
    width: 132px;
    height: 14px;
    color: #000000;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
  }

  .regular-checkbox + label {
    background-color: white;
    border: 1px solid #3b7f8e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 11px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }
  .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .regular-checkbox:checked + label {
    background-color: white;
    border: 1px solid #3b7f8e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: white;
  }

  .regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 5px;
    color: #3b7f8e;
  }
  .right-side {
    margin-left: 50px;
  }
  .right-side-checkbox {
    margin-left: 35px;
  }

}

.custom-input-register-supervisor {
  .application-select {
    width: calc(100% - 10px);
  }
  .btn-primary-outline{
    z-index: 200;
    position: relative;
  }
}

.check-box-register-section {
  background-color: #f7f6f6;
}

.hide-select-register-supervisor {
  .application-select {
    width: calc(100% - 10px);
  }
  .supervisorType {
    margin-left: 10px;
  }
}


.slider-register-supervisor{
  #main {
    position: relative;
    height:100px;
    left: 29%;
  }
  #main a{
    text-decoration: none;
    left: 29%;
  }

  #scale {
    position:absolute;
    top: 30px;
    z-index: 1;
    width: 600px;
    background-size: 100%;
  }

  #scale .ui-slider-horizontal {
    width: 545px;
  }

  .ui-slider .ui-slider-handle {
    background: url("/image/slider.png") left top no-repeat;
    width: 95px;
    height: 40px;
    top: -20px;
    margin-left: -50px;
  }
  .ui-slider-horizontal {
    background: url("/image/scale.png") left top no-repeat;
    height: 25px;
    border: none;
    margin-top: -5px;
    left: 50px;
  }
  .ui-slider-horizontal .ui-slider-range-min {
    background: none;
  }

  .slider-info .num {
    text-align:center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-top:3px;
  }

  .scale_text{
    width: 100%;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
  }
  #text{
    width: 74px;
    height: 11px;
    color: #000000;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8%;
  }

  .scale_text #start{
    display: inline-block;
    position: absolute;
    left: 48px;
    color: #000000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
  }
  .scale_text #end{
    display: inline-block;
    position: absolute;
    right: 3px;
    color: #000000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
  }
}

.register-supervisor-bilag {
  margin-top: 50px;
  h5 {
    width: 32px;
    height: 14px;
    padding-left: 10px;
    color: #010101;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
  }
  .bilag-container{
    padding-left: 50px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  span{
    padding-left: 10px;
    color: #000000;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
  }
  span:hover{
    text-decoration: underline;
  }
  .actions{
    float: right;
  }
  .download{
    padding-right: 20px;
  }
  .trash{
    padding-right: 20px;
  }
  .container-img{
    display:inline-block; width: 35px;
  }
}
.upload-bilag{
  .btn-primary-outline{
      padding: 2px 35px;
      box-shadow: none;
      border: 2px solid #4ba3b6;
    }
  button{
    margin-left: 20px;
    margin-top: 20px;
  }
  .download{
    padding-right: 10px;
  }
}

.register-supervisor-textarea{
  padding-top: 50px;
  textarea {
    padding: 20px;
    margin-left: 10px;
    width: calc(100% - 10px);
    min-height: 130px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #6097a4;
    &:focus {
      outline: none;
    }
  }
  ::-webkit-input-placeholder {
    color: #4ba3b6;
    font-family: Raleway light;
  }
  ::-moz-placeholder {
    color: #4ba3b6;
    font-family: Raleway light;
  }
  /* Firefox 19+ */
  :-moz-placeholder {
    color: #4ba3b6;
    font-family: Raleway light;
  }
  /* Firefox 18- */
  :-ms-input-placeholder {
    color: #4ba3b6;
    font-family: Raleway light;
  }
}



.popUp-Opret{
  hr{
    height: 2px;
    background-color: #4ba3b6;
    margin-left: 45px;
    margin-right: 85px;
  }
  display: none;
  position: absolute;
  z-index: 100;
  top: 30%;
  background: white;
  right: 17%;
  width: 50%;
  border-radius: 5px;
  .popUpContainer{
    padding: 100px 50px 0px 50px
  }
  span{
    margin-left: 10px;
    color: #000000;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
  }
  .profil-button{
    margin-left: 14px;
  }
  #findSupervisorInRegister {
    background: transparent url("/image/searcher.svg") no-repeat;
    background-position: calc(100% - 20px);
    margin-left: 14px;
  }
  .btn-primary-outline{
    margin-left: 10px;
  }
  .voresDatabase{
    margin-top: 50px;
    margin-bottom: 40px;
    span{
      margin-bottom: 10px;
    }
  }


  .addNewSupervison-container{
    .col-md-6{
      background: #f7f6f6;
    }
    background: #f7f6f6;
    width: 100%;
    .custom-block{
      .by-input{
        width: 50%;
      }
      margin-left: 45px;
      .application-input{
        width: 80%;
        margin: 0px;
        margin-top: 20px;
      }
      .addresse-input{
        width: 80%;

      }
      .efternav{
        width: 100%;
        border: 1px solid #4ba3b6;
        border-top: none;
        border-radius: 0 0 5px 5px;
        width: 80%;
      }
    }
    .right-side{
      margin-left: 10px;
    }
  }
  .right-input-block{
    padding-right: 110px;
    padding-bottom: 112px;
    .check-box {
      padding-bottom: 10px;
      padding-top: 10px;
      input[type="checkbox"] {
        width: 23px;
        height: 23px;
      }
      margin-left: 3%;
      width: 100%;
      margin-top: 10px;
      background-color: white;
      border-radius: 5px;
      .customCheckbox {
        float: right;
        padding-top: 0px;
        padding-right: 15px;
      }
      input {
        padding-left: 10px;
      }
    }

    label {
      display: inline;
    }

    .regular-checkbox {
      display: none;
    }
    .check-description {
      padding-top: 5px;
      padding-bottom: 25px;
      padding-left: 10px;
      width: 132px;
      height: 14px;
      color: #000000;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 400;
      margin-left: 10px;
    }

    .regular-checkbox + label {
      background-color: white;
      border: 1px solid #3b7f8e;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 11px;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      top: 3px;
      right: 5px;
    }
    .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .regular-checkbox:checked + label {
      background-color: white;
      border: 1px solid #3b7f8e;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
      color: white;
    }

    .regular-checkbox:checked + label:after {
      content: '\2714';
      font-size: 14px;
      position: absolute;
      top: 0px;
      left: 5px;
      color: #3b7f8e;
    }
  }
  .button-section{
    margin-top:50px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
}
.left-dropdown-inPopUp{
  margin-left: 35px;
  .application-select{
    width: 86%;
  }


}
.pop-Up-draft{
  background: #f7f6f6;
}
.wrapper-section-popUp{
  display: none;
}


.cov-vue-date{
  padding-right: 10px;
  width: 100%;
}




.vue-slider-wrap {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}
.vue-slider-piecewise li{
  height: 18px !important;
  border-radius:  0 !important;
  background-color:  #4ba3b6 !important;
  width: 4px !important;
  margin-top: 6px;
}

.vue-slider-piecewise li:nth-child(2n+1){
  height: 14px !important;
  width: 3px !important;
  background-color:  #c2c2c2 !important;
}
.vue-slider-piecewise[_v-29912c8e]:before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 6px;
  width: 4px;
  height: 18px;
  background: #4ba3b6;
}

.vue-slider-piecewise[_v-29912c8e]:after{
  content: ' ';
  position: absolute;
  right: 0;
  top: 6px;
  width: 4px;
  height: 18px;
  background: #4ba3b6;
}

.vue-slider-piecewise[_v-29912c8e] {
  background-color: #7c7c7c;
}

.vue-slider-process{
  display: none;
}

.vue-slider-dot.vue-slider-always .vue-slider-tooltip[_v-29912c8e]{
  top: 20px !important;
  background: #f7f6f6 !important;
  color: #000;
  font-weight: 600;
  padding: 3px 40px;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid #7c7c7c !important;
  box-shadow:  0px 1px 5px  #666  !important;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}




//============


.value-wrapper{
  background-color: #f7f6f6;
  .value-text{
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.out-space{
  margin: 10px 0 10px 15px;
}

.status{
  margin-top: 80px;
  .value-text{
    margin-bottom: 0;
  }
}

.application .content-box .content .content-block .block-value p{
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.application .content-box .content .content-block .block-value .main-head{
  padding-left: 15px;
}

.knap-pic{
  margin-top: 7px;
}

.headline-row{
  margin-top: 20px;
}

.border-row{
  border-bottom: 2px solid #4ba3b6;
}

.application .content-box .content .content-block .list-wrapper p{
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-wrapper{
  border-bottom: 1px solid #e3e3e3;
}

.supervisor-btn{
  background-color: white;
  border: 1px solid #4BA3B6;
  border-radius: 6px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  line-height: 39px;
  color: black;
  display: inline-block;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  &:hover{
    background-color: #EFEFEF;
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    outline: none;
  }
  &:active{
    background-color: #EFEFEF;
    border: 1px solid #4BA3B6;
    outline: none;
  }
}
//=======

